.a-GV-columnItem .igquickvalues input[type='text'],
.a-GV-columnItem .igquickvalues input[type='text']:focus,
.igquickvalues input[type='text'],
.igquickvalues input[type='text']:focus {
  border-width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  width: 0 !important;
}
.igquickvalues {
  padding-left: 0;
  text-align: center;
  width: 100%;
}
.igquickvalues-group {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: nowrap;
}
.igquickvalues-group a {
  flex:1 0 auto;
}